/*

  CSS for new tweets area

*/

.new-tweet {
  display:flex;
  flex-direction: column;
  width: 90%;
  font-family: sans-serif;
}

#new-tweet-form {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  background-color: #f4f1ec;
  border: hidden;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
  
}

.new-tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
  margin-top: 5px; 
}

#submit {  
  background-color: #FD5901;
  color: black;
  font-family: 'Bungee', cursive;
}

#submit:hover {  
  background-color: rgb(236, 162, 42);
}

.toomanychars {
  color: red
}