/*

CSS for individual tweet-container

*/
#tweet-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
}

.tweet-header {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--tweetcontentcolor);
}

.tweet-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: var(--tweetsbackgroundcolor);
  font-family: sans-serif;
  border-style: groove;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--wasteal);
  padding: 20px;
  margin-bottom: 20px;
  will-change: filter;
  transition: filter 0.2s ease-out;
}

.tweet-layout:hover {
  filter: drop-shadow(0px 0px 20px rgba(0, 128, 128, 0.806));
}

.tweet-message {
  width: 95%;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: left;
  color: var(--tweetcontentcolor);
}

.tweet-footer {
  display: flex;
  border-style: solid none none none;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
  font-size: 0.8em;
  margin-top: 5px;
  padding-top: 5px;
  color: var(--tweetcontentcolor);
}

.redflag {
  color: var(--red);
}

.redborder {
  border: 2px solid var(--red);
}

.blurredtext {
  color: transparent;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.hide {
  display: none;
}
